@import "../../../../scss/colors";

.button {
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
  border: 1px solid $danger;
  border-radius: 15px;
  background-color: $accentColor2;
  span {
    margin-left: 8px;
    color: $secondary;
    font-size: 14px;
  }
  &:hover {
    background-color: $accentColor3;
    cursor: pointer;
  }
}
